In [2]:
import pandas as pd

# загрузка данных
file_path = './data/data_raw_english_columns.csv'
df = pd.read_csv(file_path, low_memory=False)

# вывод 5 первых строк
df.head(5)

,year,program_group,university,avg_ege_paid,ege_change_prev_year,enrolled_paid,cost_of_education_rub,avg_ege_budget,enrolled_budget,ege_excludes_individual,...,inflation_rate_percent,mrot_rub,avg_salary_rub,real_salary_growth_percent,cpi_index,base_cpi,base_inflation_percent,gdp_deflator,population_million,unemployment_rate_percent
0,2024.0,Психология,"Адыгейский гос. ун-т., г. Майкоп",57.2,-10.8,3.0,113.4,68.7,22.0,Да,...,7.4,19.2,75.0,8.5,251.3,100.6,7.15,129.4,146.2,2.9
1,2024.0,Лингвистика и иностранные языки,"Адыгейский гос. ун-т., г. Майкоп",61.3,5.7,17.0,113.4,76.6,25.0,Да,...,7.4,19.2,75.0,8.5,251.3,100.6,7.15,129.4,146.2,2.9
2,2024.0,Юриспруденция,"Адыгейский гос. ун-т., г. Майкоп",55.7,-7.4,30.0,113.4,82.3,10.0,Да,...,7.4,19.2,75.0,8.5,251.3,100.6,7.15,129.4,146.2,2.9
3,2024.0,Физическая культура,"Адыгейский гос. ун-т., г. Майкоп",45.9,-2.4,2.0,158.3,63.3,50.0,Да,...,7.4,19.2,75.0,8.5,251.3,100.6,7.15,129.4,146.2,2.9
4,2024.0,Реклама и связи с общественностью,"Адыгейский гос. ун-т., г. Майкоп",52.0,4.7,2.0,113.4,70.2,12.0,Да,...,7.4,19.2,75.0,8.5,251.3,100.6,7.15,129.4,146.2,2.9

In [3]:

# общая информация о данных
df_description = df.describe(include='all')
df_description

,year,program_group,university,avg_ege_paid,ege_change_prev_year,enrolled_paid,cost_of_education_rub,avg_ege_budget,enrolled_budget,ege_excludes_individual,...,inflation_rate_percent,mrot_rub,avg_salary_rub,real_salary_growth_percent,cpi_index,base_cpi,base_inflation_percent,gdp_deflator,population_million,unemployment_rate_percent
count,33221.000000,33221,33221,33221.000000,27597.000000,33221.000000,33221,26496,31805.000000,33221,...,33221.000000,33221.000000,33221.000000,33221.000000,33221.000000,33221.000000,33221.000000,33221,33221.000000,33221.000000
unique,NaN,68,962,NaN,NaN,NaN,2556,556,NaN,368,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7,NaN,NaN
top,NaN,Экономика,Уральский федеральный ун-т. им. Б.Н. Ельцина,NaN,NaN,NaN,нет данных,Да,NaN,Да,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,106.92,NaN,NaN
freq,NaN,2982,288,NaN,NaN,NaN,1099,4318,NaN,20079,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5841,NaN,NaN
mean,2020.797929,NaN,NaN,59.552957,0.265804,38.741970,NaN,NaN,54.654061,NaN,...,5.833272,13.324084,52.117248,4.467448,200.446118,100.449186,5.917807,NaN,146.618822,4.536531
std,2.053928,NaN,NaN,8.880795,5.358092,80.510412,NaN,NaN,99.200654,NaN,...,3.145725,3.050213,11.836023,4.173611,28.253185,0.212123,3.831234,NaN,0.302078,0.887520
min,2018.000000,NaN,NaN,0.000000,-45.100000,1.000000,NaN,NaN,0.000000,NaN,...,2.200000,9.490000,39.000000,0.100000,170.100000,100.200000,1.900000,NaN,146.200000,2.900000
25%,2019.000000,NaN,NaN,54.200000,-2.400000,5.000000,NaN,NaN,6.000000,NaN,...,2.430000,11.300000,42.300000,0.600000,178.600000,100.200000,2.660000,NaN,146.200000,3.600000
50%,2021.000000,NaN,NaN,59.500000,0.200000,14.000000,NaN,NaN,24.000000,NaN,...,5.190000,12.800000,49.500000,1.900000,192.400000,100.500000,4.550000,NaN,146.700000,4.700000
75%,2023.000000,NaN,NaN,64.700000,2.900000,37.000000,NaN,NaN,67.000000,NaN,...,8.370000,16.200000,63.300000,8.500000,233.900000,100.600000,9.240000,NaN,146.900000,5.200000
max,2024.000000,NaN,NaN,95.500000,51.400000,1760.000000,NaN,NaN,1706.000000,NaN,...,11.800000,19.200000,75.000000,11.000000,251.300000,100.800000,13.720000,NaN,147.000000,5.800000

In [4]:
# общая информация о данных
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33222 entries, 0 to 33221
Data columns (total 23 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   year                        33221 non-null  float64
 1   program_group               33221 non-null  object
 2   university                  33221 non-null  object
 3   avg_ege_paid                33221 non-null  float64
 4   ege_change_prev_year        27597 non-null  float64
 5   enrolled_paid               33221 non-null  float64
 6   cost_of_education_rub       33221 non-null  object
 7   avg_ege_budget              26496 non-null  object
 8   enrolled_budget             31805 non-null  float64
 9   ege_excludes_individual     33221 non-null  object
 10  gdp_per_capita_usd          33221 non-null  float64
 11  gdp_usd_billion             33221 non-null  float64
 12  gdp_rub_billion             33221 non-null  float64
 13  inflation_rate_percent      33221 non-null  float64
 14  mrot_rub                    33221 non-null  float64
 15  avg_salary_rub              33221 non-null  float64
 16  real_salary_growth_percent  33221 non-null  float64
 17  cpi_index                   33221 non-null  float64
 18  base_cpi                    33221 non-null  float64
 19  base_inflation_percent      33221 non-null  float64
 20  gdp_deflator                33221 non-null  object
 21  population_million          33221 non-null  float64
 22  unemployment_rate_percent   33221 non-null  float64
dtypes: float64(17), object(6)
memory usage: 5.8+ MB

In [5]:

# общая информация о данных
print("\nОбщая информация о данных:")
print(f"Количество строк: {len(df)}")
print(f"Количество столбцов: {len(df.columns)}")

# наличие дубликатов
print(f"\nКоличество дубликатов: {df.duplicated().sum()}")

# наличие пропущенных значений
print("\nКоличество пропущенных значений в каждом столбце:")
print(df.isna().sum())

Общая информация о данных:
Количество строк: 33222
Количество столбцов: 23

Количество дубликатов: 0

Количество пропущенных значений в каждом столбце:
year                             1
program_group                    1
university                       1
avg_ege_paid                     1
ege_change_prev_year          5625
enrolled_paid                    1
cost_of_education_rub            1
avg_ege_budget                6726
enrolled_budget               1417
ege_excludes_individual          1
gdp_per_capita_usd               1
gdp_usd_billion                  1
gdp_rub_billion                  1
inflation_rate_percent           1
mrot_rub                         1
avg_salary_rub                   1
real_salary_growth_percent       1
cpi_index                        1
base_cpi                         1
base_inflation_percent           1
gdp_deflator                     1
population_million               1
unemployment_rate_percent        1
dtype: int64

In [6]:
# получение списка столбцов с пропущенными значениями
df_missing = df.isnull().sum()

print(df_missing)
 # вывод списка столбцов с пропущенными значениями > 0 с пропущенными значениями
df_missing = df_missing[df_missing > 0]
print(df_missing)

year                             1
program_group                    1
university                       1
avg_ege_paid                     1
ege_change_prev_year          5625
enrolled_paid                    1
cost_of_education_rub            1
avg_ege_budget                6726
enrolled_budget               1417
ege_excludes_individual          1
gdp_per_capita_usd               1
gdp_usd_billion                  1
gdp_rub_billion                  1
inflation_rate_percent           1
mrot_rub                         1
avg_salary_rub                   1
real_salary_growth_percent       1
cpi_index                        1
base_cpi                         1
base_inflation_percent           1
gdp_deflator                     1
population_million               1
unemployment_rate_percent        1
dtype: int64
year                             1
program_group                    1
university                       1
avg_ege_paid                     1
ege_change_prev_year          5625
enrolled_paid                    1
cost_of_education_rub            1
avg_ege_budget                6726
enrolled_budget               1417
ege_excludes_individual          1
gdp_per_capita_usd               1
gdp_usd_billion                  1
gdp_rub_billion                  1
inflation_rate_percent           1
mrot_rub                         1
avg_salary_rub                   1
real_salary_growth_percent       1
cpi_index                        1
base_cpi                         1
base_inflation_percent           1
gdp_deflator                     1
population_million               1
unemployment_rate_percent        1
dtype: int64

In [7]:
# Преобразование типов данных
cols_to_convert = ['cost_of_education_rub', 'avg_ege_budget', 'gdp_deflator']
df[cols_to_convert] = df[cols_to_convert].apply(pd.to_numeric, errors='coerce')

# проверка результата данных
converted_info = df[cols_to_convert].info()
new_missing = df[cols_to_convert].isnull().sum()
print(df[['cost_of_education_rub', 'avg_ege_budget', 'gdp_deflator']].describe())
converted_info, new_missing[new_missing > 0]  # Show only columns with missing values after conversion

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33222 entries, 0 to 33221
Data columns (total 3 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   cost_of_education_rub  32122 non-null  float64
 1   avg_ege_budget         20655 non-null  float64
 2   gdp_deflator           27625 non-null  float64
dtypes: float64(3)
memory usage: 778.8 KB
       cost_of_education_rub  avg_ege_budget  gdp_deflator
count           32122.000000    20655.000000  27625.000000
mean              161.190050       74.496156    122.013002
std                79.066265        9.990435     12.844890
min                30.000000       40.400000    106.920000
25%               111.600000       67.700000    113.600000
50%               135.000000       74.600000    117.750000
75%               188.700000       81.400000    129.400000
max               862.000000      100.000000    146.760000

(None,
 cost_of_education_rub     1100
 avg_ege_budget           12567
 gdp_deflator              5597
 dtype: int64)

In [8]:

# заполнение пропущенных значений медианой по каждому столбцу
for col in ['cost_of_education_rub', 'avg_ege_budget', 'gdp_deflator']:
    median_value = df[col].median()
    df[col] = df[col].fillna(median_value)
print(df[['cost_of_education_rub', 'avg_ege_budget', 'gdp_deflator']].describe())

       cost_of_education_rub  avg_ege_budget  gdp_deflator
count           33222.000000    33222.000000  33222.000000
mean              160.322882       74.535437    121.294802
std                77.887341        7.877510     11.821159
min                30.000000       40.400000    106.920000
25%               112.225000       72.100000    113.600000
50%               135.000000       74.600000    117.750000
75%               185.000000       77.100000    129.400000
max               862.000000      100.000000    146.760000

In [9]:

# остались ли пропущенные значения в этих столбцах
remaining_nans = df[['cost_of_education_rub', 'avg_ege_budget', 'gdp_deflator']].isnull().sum()
print(remaining_nans)

cost_of_education_rub    0
avg_ege_budget           0
gdp_deflator             0
dtype: int64

In [10]:
df_description = df.describe(include='all')
df_description

,year,program_group,university,avg_ege_paid,ege_change_prev_year,enrolled_paid,cost_of_education_rub,avg_ege_budget,enrolled_budget,ege_excludes_individual,...,inflation_rate_percent,mrot_rub,avg_salary_rub,real_salary_growth_percent,cpi_index,base_cpi,base_inflation_percent,gdp_deflator,population_million,unemployment_rate_percent
count,33221.000000,33221,33221,33221.000000,27597.000000,33221.000000,33222.000000,33222.000000,31805.000000,33221,...,33221.000000,33221.000000,33221.000000,33221.000000,33221.000000,33221.000000,33221.000000,33222.000000,33221.000000,33221.000000
unique,NaN,68,962,NaN,NaN,NaN,NaN,NaN,NaN,368,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,Экономика,Уральский федеральный ун-т. им. Б.Н. Ельцина,NaN,NaN,NaN,NaN,NaN,NaN,Да,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,2982,288,NaN,NaN,NaN,NaN,NaN,NaN,20079,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,2020.797929,NaN,NaN,59.552957,0.265804,38.741970,160.322882,74.535437,54.654061,NaN,...,5.833272,13.324084,52.117248,4.467448,200.446118,100.449186,5.917807,121.294802,146.618822,4.536531
std,2.053928,NaN,NaN,8.880795,5.358092,80.510412,77.887341,7.877510,99.200654,NaN,...,3.145725,3.050213,11.836023,4.173611,28.253185,0.212123,3.831234,11.821159,0.302078,0.887520
min,2018.000000,NaN,NaN,0.000000,-45.100000,1.000000,30.000000,40.400000,0.000000,NaN,...,2.200000,9.490000,39.000000,0.100000,170.100000,100.200000,1.900000,106.920000,146.200000,2.900000
25%,2019.000000,NaN,NaN,54.200000,-2.400000,5.000000,112.225000,72.100000,6.000000,NaN,...,2.430000,11.300000,42.300000,0.600000,178.600000,100.200000,2.660000,113.600000,146.200000,3.600000
50%,2021.000000,NaN,NaN,59.500000,0.200000,14.000000,135.000000,74.600000,24.000000,NaN,...,5.190000,12.800000,49.500000,1.900000,192.400000,100.500000,4.550000,117.750000,146.700000,4.700000
75%,2023.000000,NaN,NaN,64.700000,2.900000,37.000000,185.000000,77.100000,67.000000,NaN,...,8.370000,16.200000,63.300000,8.500000,233.900000,100.600000,9.240000,129.400000,146.900000,5.200000
max,2024.000000,NaN,NaN,95.500000,51.400000,1760.000000,862.000000,100.000000,1706.000000,NaN,...,11.800000,19.200000,75.000000,11.000000,251.300000,100.800000,13.720000,146.760000,147.000000,5.800000

In [11]:
print(df['ege_excludes_individual'])

# преобразование значений "Да" и "Нет" в булевы значения True и False
df['ege_excludes_individual'] = df['ege_excludes_individual'].map({'Да': True, 'Нет': False})

# какие уникальные значения теперь содержит этот столбец
unique_values = df['ege_excludes_individual'].unique()

0         Да
1         Да
2         Да
3         Да
4         Да
        ...
33217     16
33218      0
33219      0
33220     15
33221    NaN
Name: ege_excludes_individual, Length: 33222, dtype: object

In [12]:
# получение количества пропущенных значений
missing_values = df.isna().sum()

# вывод количества пропущенных значений
print("Number of missing values in each column:")
print(missing_values)

# показать только столбцы с пропущенными значениями
missing_values = missing_values[missing_values > 0]
if not missing_values.empty:
    print("\nColumns with missing values:")
    print(missing_values)
else:
    print("\nNo columns have missing values.")

Number of missing values in each column:
year                             1
program_group                    1
university                       1
avg_ege_paid                     1
ege_change_prev_year          5625
enrolled_paid                    1
cost_of_education_rub            0
avg_ege_budget                   0
enrolled_budget               1417
ege_excludes_individual       5842
gdp_per_capita_usd               1
gdp_usd_billion                  1
gdp_rub_billion                  1
inflation_rate_percent           1
mrot_rub                         1
avg_salary_rub                   1
real_salary_growth_percent       1
cpi_index                        1
base_cpi                         1
base_inflation_percent           1
gdp_deflator                     0
population_million               1
unemployment_rate_percent        1
dtype: int64

Columns with missing values:
year                             1
program_group                    1
university                       1
avg_ege_paid                     1
ege_change_prev_year          5625
enrolled_paid                    1
enrolled_budget               1417
ege_excludes_individual       5842
gdp_per_capita_usd               1
gdp_usd_billion                  1
gdp_rub_billion                  1
inflation_rate_percent           1
mrot_rub                         1
avg_salary_rub                   1
real_salary_growth_percent       1
cpi_index                        1
base_cpi                         1
base_inflation_percent           1
population_million               1
unemployment_rate_percent        1
dtype: int64

In [16]:
# включение опции "future.no_silent_downcasting" чтобы убрать предупреждение
pd.set_option('future.no_silent_downcasting', True)
# обработка оставшихся пропусков
numeric_fill_median = ['year', 'avg_ege_paid', 'enrolled_paid', 'enrolled_budget', 'gdp_per_capita_usd']
# заполнение пропущенных значений медианой
for col in numeric_fill_median:
    df[col] = df[col].fillna(df[col].median())

In [17]:
# вставляем самое частое значение в пропуски
categorical_fill_mode = ['program_group', 'university']
for col in categorical_fill_mode:
    df[col] = df[col].fillna(df[col].mode()[0])

# вставляем False в пропуски
df['ege_excludes_individual'] = df['ege_excludes_individual'].fillna(False)
df['ege_excludes_individual'] = df['ege_excludes_individual'].infer_objects(copy=False)

# вставляем 0 в пропуски
df['ege_change_prev_year'] = df['ege_change_prev_year'].fillna(0)

# проверка оставшихся пропущенных значений
missing_values = df.isnull().sum()
print(missing_values)
print(df['ege_change_prev_year'])
print(df.head(10))

year                          0
program_group                 0
university                    0
avg_ege_paid                  0
ege_change_prev_year          0
enrolled_paid                 0
cost_of_education_rub         0
avg_ege_budget                0
enrolled_budget               0
ege_excludes_individual       0
gdp_per_capita_usd            0
gdp_usd_billion               1
gdp_rub_billion               1
inflation_rate_percent        1
mrot_rub                      1
avg_salary_rub                1
real_salary_growth_percent    1
cpi_index                     1
base_cpi                      1
base_inflation_percent        1
gdp_deflator                  0
population_million            1
unemployment_rate_percent     1
dtype: int64
0       -10.8
1         5.7
2        -7.4
3        -2.4
4         4.7
         ...
33217     1.8
33218     0.0
33219     0.0
33220     0.0
33221     0.0
Name: ege_change_prev_year, Length: 33222, dtype: float64
     year                      program_group  \
0  2024.0                         Психология
1  2024.0    Лингвистика и иностранные языки
2  2024.0                      Юриспруденция
3  2024.0                Физическая культура
4  2024.0  Реклама и связи с общественностью
5  2024.0                          Экономика
6  2024.0        Информационная безопасность
7  2024.0         Педагогическое образование
8  2024.0                         Менеджмент
9  2024.0        Сельское и рыбное хозяйство

                                          university  avg_ege_paid  \
0                   Адыгейский гос. ун-т., г. Майкоп          57.2
1                   Адыгейский гос. ун-т., г. Майкоп          61.3
2                   Адыгейский гос. ун-т., г. Майкоп          55.7
3                   Адыгейский гос. ун-т., г. Майкоп          45.9
4                   Адыгейский гос. ун-т., г. Майкоп          52.0
5                   Адыгейский гос. ун-т., г. Майкоп          58.6
6                   Адыгейский гос. ун-т., г. Майкоп          57.9
7                   Адыгейский гос. ун-т., г. Майкоп          56.3
8                   Адыгейский гос. ун-т., г. Майкоп          61.1
9  Азово-Черноморский инженерный ин-т. - филиал Д...          40.3

   ege_change_prev_year  enrolled_paid  cost_of_education_rub  avg_ege_budget  \
0                 -10.8            3.0                  113.4            68.7
1                   5.7           17.0                  113.4            76.6
2                  -7.4           30.0                  113.4            82.3
3                  -2.4            2.0                  158.3            63.3
4                   4.7            2.0                  113.4            70.2
5                  -6.1            6.0                  113.4            74.6
6                   0.0            2.0                  129.9            62.2
7                   4.1           14.0                  113.4            65.8
8                   1.2           15.0                  113.4            74.6
9                   1.6            3.0                  138.8            46.7

   enrolled_budget  ege_excludes_individual  ...  inflation_rate_percent  \
0             22.0                     True  ...                     7.4
1             25.0                     True  ...                     7.4
2             10.0                     True  ...                     7.4
3             50.0                     True  ...                     7.4
4             12.0                     True  ...                     7.4
5              0.0                     True  ...                     7.4
6             29.0                     True  ...                     7.4
7            146.0                     True  ...                     7.4
8              0.0                     True  ...                     7.4
9             69.0                    False  ...                     7.4

   mrot_rub  avg_salary_rub  real_salary_growth_percent  cpi_index  base_cpi  \
0      19.2            75.0                         8.5      251.3     100.6
1      19.2            75.0                         8.5      251.3     100.6
2      19.2            75.0                         8.5      251.3     100.6
3      19.2            75.0                         8.5      251.3     100.6
4      19.2            75.0                         8.5      251.3     100.6
5      19.2            75.0                         8.5      251.3     100.6
6      19.2            75.0                         8.5      251.3     100.6
7      19.2            75.0                         8.5      251.3     100.6
8      19.2            75.0                         8.5      251.3     100.6
9      19.2            75.0                         8.5      251.3     100.6

   base_inflation_percent  gdp_deflator  population_million  \
0                    7.15         129.4               146.2
1                    7.15         129.4               146.2
2                    7.15         129.4               146.2
3                    7.15         129.4               146.2
4                    7.15         129.4               146.2
5                    7.15         129.4               146.2
6                    7.15         129.4               146.2
7                    7.15         129.4               146.2
8                    7.15         129.4               146.2
9                    7.15         129.4               146.2

   unemployment_rate_percent
0                        2.9
1                        2.9
2                        2.9
3                        2.9
4                        2.9
5                        2.9
6                        2.9
7                        2.9
8                        2.9
9                        2.9

[10 rows x 23 columns]

In [14]:
print(df['enrolled_budget'])
df.fillna({
    'ege_change_prev_year': 0,
    'avg_ege_budget': df['avg_ege_budget'].median(),
    'cost_of_education_rub': df['cost_of_education_rub'].median(),
    'gdp_deflator': df['gdp_deflator'].median()
}, inplace=True)


df.to_csv('./data/data_english_cleaned_1.csv', index=False)

0        22.0
1        25.0
2        10.0
3        50.0
4        12.0
         ...
33217    79.8
33218    24.0
33219    24.0
33220    79.6
33221    24.0
Name: enrolled_budget, Length: 33222, dtype: float64