In [8]:
import pandas as pd

# загрузка данных
file_path = './data/data_raw_english_columns.csv'
df = pd.read_csv(file_path, low_memory=False)

# вывод 5 первых строк
df.head(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33221 entries, 0 to 33220
Data columns (total 23 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   year                        33221 non-null  int64
 1   program_group               33221 non-null  object
 2   university                  33221 non-null  object
 3   avg_ege_paid                33221 non-null  float64
 4   ege_change_prev_year        27597 non-null  float64
 5   enrolled_paid               33221 non-null  int64
 6   cost_of_education_rub       33221 non-null  object
 7   avg_ege_budget              26496 non-null  object
 8   enrolled_budget             31805 non-null  float64
 9   ege_excludes_individual     33221 non-null  object
 10  gdp_per_capita_usd          33221 non-null  float64
 11  gdp_usd_billion             33221 non-null  float64
 12  gdp_rub_billion             33221 non-null  float64
 13  inflation_rate_percent      33221 non-null  float64
 14  mrot_rub                    33221 non-null  float64
 15  avg_salary_rub              33221 non-null  float64
 16  real_salary_growth_percent  33221 non-null  float64
 17  cpi_index                   33221 non-null  float64
 18  base_cpi                    33221 non-null  float64
 19  base_inflation_percent      33221 non-null  float64
 20  gdp_deflator                33221 non-null  object
 21  population_million          33221 non-null  float64
 22  unemployment_rate_percent   33221 non-null  float64
dtypes: float64(15), int64(2), object(6)
memory usage: 5.8+ MB

Общая информация о данных:
Количество строк: 33221
Количество столбцов: 23

Количество дубликатов: 0

Количество пропущенных значений в каждом столбце:
year                             0
program_group                    0
university                       0
avg_ege_paid                     0
ege_change_prev_year          5624
enrolled_paid                    0
cost_of_education_rub            0
avg_ege_budget                6725
enrolled_budget               1416
ege_excludes_individual          0
gdp_per_capita_usd               0
gdp_usd_billion                  0
gdp_rub_billion                  0
inflation_rate_percent           0
mrot_rub                         0
avg_salary_rub                   0
real_salary_growth_percent       0
cpi_index                        0
base_cpi                         0
base_inflation_percent           0
gdp_deflator                     0
population_million               0
unemployment_rate_percent        0
dtype: int64

In [17]:

# общая информация о данных
df_description = df.describe(include='all')
df_description

,year,program_group,university,avg_ege_paid,ege_change_prev_year,enrolled_paid,cost_of_education_rub,avg_ege_budget,enrolled_budget,ege_excludes_individual,...,inflation_rate_percent,mrot_rub,avg_salary_rub,real_salary_growth_percent,cpi_index,base_cpi,base_inflation_percent,gdp_deflator,population_million,unemployment_rate_percent
count,33221.000000,33221,33221,33221.000000,27597.000000,33221.000000,33221,26496,31805.000000,33221,...,33221.000000,33221.000000,33221.000000,33221.000000,33221.000000,33221.000000,33221.000000,33221,33221.000000,33221.000000
unique,NaN,68,962,NaN,NaN,NaN,2556,556,NaN,368,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7,NaN,NaN
top,NaN,Экономика,Уральский федеральный ун-т. им. Б.Н. Ельцина,NaN,NaN,NaN,нет данных,Да,NaN,Да,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,106.92,NaN,NaN
freq,NaN,2982,288,NaN,NaN,NaN,1099,4318,NaN,20079,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5841,NaN,NaN
mean,2020.797929,NaN,NaN,59.552957,0.265804,38.741970,NaN,NaN,54.654061,NaN,...,5.833272,13.324084,52.117248,4.467448,200.446118,100.449186,5.917807,NaN,146.618822,4.536531
std,2.053928,NaN,NaN,8.880795,5.358092,80.510412,NaN,NaN,99.200654,NaN,...,3.145725,3.050213,11.836023,4.173611,28.253185,0.212123,3.831234,NaN,0.302078,0.887520
min,2018.000000,NaN,NaN,0.000000,-45.100000,1.000000,NaN,NaN,0.000000,NaN,...,2.200000,9.490000,39.000000,0.100000,170.100000,100.200000,1.900000,NaN,146.200000,2.900000
25%,2019.000000,NaN,NaN,54.200000,-2.400000,5.000000,NaN,NaN,6.000000,NaN,...,2.430000,11.300000,42.300000,0.600000,178.600000,100.200000,2.660000,NaN,146.200000,3.600000
50%,2021.000000,NaN,NaN,59.500000,0.200000,14.000000,NaN,NaN,24.000000,NaN,...,5.190000,12.800000,49.500000,1.900000,192.400000,100.500000,4.550000,NaN,146.700000,4.700000
75%,2023.000000,NaN,NaN,64.700000,2.900000,37.000000,NaN,NaN,67.000000,NaN,...,8.370000,16.200000,63.300000,8.500000,233.900000,100.600000,9.240000,NaN,146.900000,5.200000
max,2024.000000,NaN,NaN,95.500000,51.400000,1760.000000,NaN,NaN,1706.000000,NaN,...,11.800000,19.200000,75.000000,11.000000,251.300000,100.800000,13.720000,NaN,147.000000,5.800000

In [18]:
# общая информация о данных
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33221 entries, 0 to 33220
Data columns (total 23 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   year                        33221 non-null  int64
 1   program_group               33221 non-null  object
 2   university                  33221 non-null  object
 3   avg_ege_paid                33221 non-null  float64
 4   ege_change_prev_year        27597 non-null  float64
 5   enrolled_paid               33221 non-null  int64
 6   cost_of_education_rub       33221 non-null  object
 7   avg_ege_budget              26496 non-null  object
 8   enrolled_budget             31805 non-null  float64
 9   ege_excludes_individual     33221 non-null  object
 10  gdp_per_capita_usd          33221 non-null  float64
 11  gdp_usd_billion             33221 non-null  float64
 12  gdp_rub_billion             33221 non-null  float64
 13  inflation_rate_percent      33221 non-null  float64
 14  mrot_rub                    33221 non-null  float64
 15  avg_salary_rub              33221 non-null  float64
 16  real_salary_growth_percent  33221 non-null  float64
 17  cpi_index                   33221 non-null  float64
 18  base_cpi                    33221 non-null  float64
 19  base_inflation_percent      33221 non-null  float64
 20  gdp_deflator                33221 non-null  object
 21  population_million          33221 non-null  float64
 22  unemployment_rate_percent   33221 non-null  float64
dtypes: float64(15), int64(2), object(6)
memory usage: 5.8+ MB

Количество строк: 33221
Количество столбцов: 23

Количество дубликатов: 0

Количество пропущенных значений в каждом столбце:
year                             0
program_group                    0
university                       0
avg_ege_paid                     0
ege_change_prev_year          5624
enrolled_paid                    0
cost_of_education_rub            0
avg_ege_budget                6725
enrolled_budget               1416
ege_excludes_individual          0
gdp_per_capita_usd               0
gdp_usd_billion                  0
gdp_rub_billion                  0
inflation_rate_percent           0
mrot_rub                         0
avg_salary_rub                   0
real_salary_growth_percent       0
cpi_index                        0
base_cpi                         0
base_inflation_percent           0
gdp_deflator                     0
population_million               0
unemployment_rate_percent        0
dtype: int64

In [20]:

# общая информация о данных
print("\nОбщая информация о данных:")
print(f"Количество строк: {len(df)}")
print(f"Количество столбцов: {len(df.columns)}")

# наличие дубликатов
print(f"\nКоличество дубликатов: {df.duplicated().sum()}")

# наличие пропущенных значений
print("\nКоличество пропущенных значений в каждом столбце:")
print(df.isna().sum())

Общая информация о данных:
Количество строк: 33221
Количество столбцов: 23

Количество дубликатов: 0

Количество пропущенных значений в каждом столбце:
year                             0
program_group                    0
university                       0
avg_ege_paid                     0
ege_change_prev_year          5624
enrolled_paid                    0
cost_of_education_rub            0
avg_ege_budget                6725
enrolled_budget               1416
ege_excludes_individual          0
gdp_per_capita_usd               0
gdp_usd_billion                  0
gdp_rub_billion                  0
inflation_rate_percent           0
mrot_rub                         0
avg_salary_rub                   0
real_salary_growth_percent       0
cpi_index                        0
base_cpi                         0
base_inflation_percent           0
gdp_deflator                     0
population_million               0
unemployment_rate_percent        0
dtype: int64

In [27]:
# получение списка столбцов с пропущенными значениями
df_missing = df.isnull().sum()

print(df_missing)
 # вывод списка столбцов с пропущенными значениями
df_missing = df_missing[df_missing > 0]
print(df_missing)

year                             0
program_group                    0
university                       0
avg_ege_paid                     0
ege_change_prev_year          5624
enrolled_paid                    0
cost_of_education_rub            0
avg_ege_budget                6725
enrolled_budget               1416
ege_excludes_individual          0
gdp_per_capita_usd               0
gdp_usd_billion                  0
gdp_rub_billion                  0
inflation_rate_percent           0
mrot_rub                         0
avg_salary_rub                   0
real_salary_growth_percent       0
cpi_index                        0
base_cpi                         0
base_inflation_percent           0
gdp_deflator                     0
population_million               0
unemployment_rate_percent        0
dtype: int64
ege_change_prev_year    5624
avg_ege_budget          6725
enrolled_budget         1416
dtype: int64