In [61]:
import pandas as pd

# загрузка данных
file_path = './data/data_raw_english_columns.csv'
df = pd.read_csv(file_path, low_memory=False)

# вывод 5 первых строк
df.head(5)

,year,program_group,university,avg_ege_paid,ege_change_prev_year,enrolled_paid,cost_of_education_rub,avg_ege_budget,enrolled_budget,ege_excludes_individual,...,inflation_rate_percent,mrot_rub,avg_salary_rub,real_salary_growth_percent,cpi_index,base_cpi,base_inflation_percent,gdp_deflator,population_million,unemployment_rate_percent
0,2024,Психология,"Адыгейский гос. ун-т., г. Майкоп",57.2,-10.8,3,113.4,68.7,22.0,Да,...,7.4,19.2,75.0,8.5,251.3,100.6,7.15,129.4,146.2,2.9
1,2024,Лингвистика и иностранные языки,"Адыгейский гос. ун-т., г. Майкоп",61.3,5.7,17,113.4,76.6,25.0,Да,...,7.4,19.2,75.0,8.5,251.3,100.6,7.15,129.4,146.2,2.9
2,2024,Юриспруденция,"Адыгейский гос. ун-т., г. Майкоп",55.7,-7.4,30,113.4,82.3,10.0,Да,...,7.4,19.2,75.0,8.5,251.3,100.6,7.15,129.4,146.2,2.9
3,2024,Физическая культура,"Адыгейский гос. ун-т., г. Майкоп",45.9,-2.4,2,158.3,63.3,50.0,Да,...,7.4,19.2,75.0,8.5,251.3,100.6,7.15,129.4,146.2,2.9
4,2024,Реклама и связи с общественностью,"Адыгейский гос. ун-т., г. Майкоп",52.0,4.7,2,113.4,70.2,12.0,Да,...,7.4,19.2,75.0,8.5,251.3,100.6,7.15,129.4,146.2,2.9

In [62]:

# общая информация о данных
df_description = df.describe(include='all')
df_description

,year,program_group,university,avg_ege_paid,ege_change_prev_year,enrolled_paid,cost_of_education_rub,avg_ege_budget,enrolled_budget,ege_excludes_individual,...,inflation_rate_percent,mrot_rub,avg_salary_rub,real_salary_growth_percent,cpi_index,base_cpi,base_inflation_percent,gdp_deflator,population_million,unemployment_rate_percent
count,33221.000000,33221,33221,33221.000000,27597.000000,33221.000000,33221,26496,31805.000000,33221,...,33221.000000,33221.000000,33221.000000,33221.000000,33221.000000,33221.000000,33221.000000,33221,33221.000000,33221.000000
unique,NaN,68,962,NaN,NaN,NaN,2556,556,NaN,368,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7,NaN,NaN
top,NaN,Экономика,Уральский федеральный ун-т. им. Б.Н. Ельцина,NaN,NaN,NaN,нет данных,Да,NaN,Да,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,106.92,NaN,NaN
freq,NaN,2982,288,NaN,NaN,NaN,1099,4318,NaN,20079,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5841,NaN,NaN
mean,2020.797929,NaN,NaN,59.552957,0.265804,38.741970,NaN,NaN,54.654061,NaN,...,5.833272,13.324084,52.117248,4.467448,200.446118,100.449186,5.917807,NaN,146.618822,4.536531
std,2.053928,NaN,NaN,8.880795,5.358092,80.510412,NaN,NaN,99.200654,NaN,...,3.145725,3.050213,11.836023,4.173611,28.253185,0.212123,3.831234,NaN,0.302078,0.887520
min,2018.000000,NaN,NaN,0.000000,-45.100000,1.000000,NaN,NaN,0.000000,NaN,...,2.200000,9.490000,39.000000,0.100000,170.100000,100.200000,1.900000,NaN,146.200000,2.900000
25%,2019.000000,NaN,NaN,54.200000,-2.400000,5.000000,NaN,NaN,6.000000,NaN,...,2.430000,11.300000,42.300000,0.600000,178.600000,100.200000,2.660000,NaN,146.200000,3.600000
50%,2021.000000,NaN,NaN,59.500000,0.200000,14.000000,NaN,NaN,24.000000,NaN,...,5.190000,12.800000,49.500000,1.900000,192.400000,100.500000,4.550000,NaN,146.700000,4.700000
75%,2023.000000,NaN,NaN,64.700000,2.900000,37.000000,NaN,NaN,67.000000,NaN,...,8.370000,16.200000,63.300000,8.500000,233.900000,100.600000,9.240000,NaN,146.900000,5.200000
max,2024.000000,NaN,NaN,95.500000,51.400000,1760.000000,NaN,NaN,1706.000000,NaN,...,11.800000,19.200000,75.000000,11.000000,251.300000,100.800000,13.720000,NaN,147.000000,5.800000

In [63]:
# общая информация о данных
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33221 entries, 0 to 33220
Data columns (total 23 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   year                        33221 non-null  int64
 1   program_group               33221 non-null  object
 2   university                  33221 non-null  object
 3   avg_ege_paid                33221 non-null  float64
 4   ege_change_prev_year        27597 non-null  float64
 5   enrolled_paid               33221 non-null  int64
 6   cost_of_education_rub       33221 non-null  object
 7   avg_ege_budget              26496 non-null  object
 8   enrolled_budget             31805 non-null  float64
 9   ege_excludes_individual     33221 non-null  object
 10  gdp_per_capita_usd          33221 non-null  float64
 11  gdp_usd_billion             33221 non-null  float64
 12  gdp_rub_billion             33221 non-null  float64
 13  inflation_rate_percent      33221 non-null  float64
 14  mrot_rub                    33221 non-null  float64
 15  avg_salary_rub              33221 non-null  float64
 16  real_salary_growth_percent  33221 non-null  float64
 17  cpi_index                   33221 non-null  float64
 18  base_cpi                    33221 non-null  float64
 19  base_inflation_percent      33221 non-null  float64
 20  gdp_deflator                33221 non-null  object
 21  population_million          33221 non-null  float64
 22  unemployment_rate_percent   33221 non-null  float64
dtypes: float64(15), int64(2), object(6)
memory usage: 5.8+ MB

In [64]:

# общая информация о данных
print("\nОбщая информация о данных:")
print(f"Количество строк: {len(df)}")
print(f"Количество столбцов: {len(df.columns)}")

# наличие дубликатов
print(f"\nКоличество дубликатов: {df.duplicated().sum()}")

# наличие пропущенных значений
print("\nКоличество пропущенных значений в каждом столбце:")
print(df.isna().sum())

Общая информация о данных:
Количество строк: 33221
Количество столбцов: 23

Количество дубликатов: 0

Количество пропущенных значений в каждом столбце:
year                             0
program_group                    0
university                       0
avg_ege_paid                     0
ege_change_prev_year          5624
enrolled_paid                    0
cost_of_education_rub            0
avg_ege_budget                6725
enrolled_budget               1416
ege_excludes_individual          0
gdp_per_capita_usd               0
gdp_usd_billion                  0
gdp_rub_billion                  0
inflation_rate_percent           0
mrot_rub                         0
avg_salary_rub                   0
real_salary_growth_percent       0
cpi_index                        0
base_cpi                         0
base_inflation_percent           0
gdp_deflator                     0
population_million               0
unemployment_rate_percent        0
dtype: int64

In [65]:
# получение списка столбцов с пропущенными значениями
df_missing = df.isnull().sum()

print(df_missing)
 # вывод списка столбцов с пропущенными значениями > 0 с пропущенными значениями
df_missing = df_missing[df_missing > 0]
print(df_missing)

year                             0
program_group                    0
university                       0
avg_ege_paid                     0
ege_change_prev_year          5624
enrolled_paid                    0
cost_of_education_rub            0
avg_ege_budget                6725
enrolled_budget               1416
ege_excludes_individual          0
gdp_per_capita_usd               0
gdp_usd_billion                  0
gdp_rub_billion                  0
inflation_rate_percent           0
mrot_rub                         0
avg_salary_rub                   0
real_salary_growth_percent       0
cpi_index                        0
base_cpi                         0
base_inflation_percent           0
gdp_deflator                     0
population_million               0
unemployment_rate_percent        0
dtype: int64
ege_change_prev_year    5624
avg_ege_budget          6725
enrolled_budget         1416
dtype: int64

In [66]:
# Преобразование типов данных
cols_to_convert = ['cost_of_education_rub', 'avg_ege_budget', 'gdp_deflator']
df[cols_to_convert] = df[cols_to_convert].apply(pd.to_numeric, errors='coerce')

# проверка результата данных
converted_info = df[cols_to_convert].info()
new_missing = df[cols_to_convert].isnull().sum()
print(df[['cost_of_education_rub', 'avg_ege_budget', 'gdp_deflator']].describe())
converted_info, new_missing[new_missing > 0]  # Show only columns with missing values after conversion

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33221 entries, 0 to 33220
Data columns (total 3 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   cost_of_education_rub  32122 non-null  float64
 1   avg_ege_budget         20655 non-null  float64
 2   gdp_deflator           27625 non-null  float64
dtypes: float64(3)
memory usage: 778.7 KB
       cost_of_education_rub  avg_ege_budget  gdp_deflator
count           32122.000000    20655.000000  27625.000000
mean              161.190050       74.496156    122.013002
std                79.066265        9.990435     12.844890
min                30.000000       40.400000    106.920000
25%               111.600000       67.700000    113.600000
50%               135.000000       74.600000    117.750000
75%               188.700000       81.400000    129.400000
max               862.000000      100.000000    146.760000

(None,
 cost_of_education_rub     1099
 avg_ege_budget           12566
 gdp_deflator              5596
 dtype: int64)

In [67]:

# заполнение пропущенных значений медианой по каждому столбцу
for col in ['cost_of_education_rub', 'avg_ege_budget', 'gdp_deflator']:
    median_value = df[col].median()
    df[col] = df[col].fillna(median_value)
print(df[['cost_of_education_rub', 'avg_ege_budget', 'gdp_deflator']].describe())

       cost_of_education_rub  avg_ege_budget  gdp_deflator
count           33221.000000    33221.000000  33221.000000
mean              160.323645       74.535435    121.294909
std                77.888390        7.877629     11.821321
min                30.000000       40.400000    106.920000
25%               112.200000       72.100000    113.600000
50%               135.000000       74.600000    117.750000
75%               185.000000       77.100000    129.400000
max               862.000000      100.000000    146.760000
   year                      program_group                        university  \
0  2024                         Психология  Адыгейский гос. ун-т., г. Майкоп
1  2024    Лингвистика и иностранные языки  Адыгейский гос. ун-т., г. Майкоп
2  2024                      Юриспруденция  Адыгейский гос. ун-т., г. Майкоп
3  2024                Физическая культура  Адыгейский гос. ун-т., г. Майкоп
4  2024  Реклама и связи с общественностью  Адыгейский гос. ун-т., г. Майкоп

   avg_ege_paid  ege_change_prev_year  enrolled_paid  cost_of_education_rub  \
0          57.2                 -10.8              3                  113.4
1          61.3                   5.7             17                  113.4
2          55.7                  -7.4             30                  113.4
3          45.9                  -2.4              2                  158.3
4          52.0                   4.7              2                  113.4

   avg_ege_budget  enrolled_budget ege_excludes_individual  ...  \
0            68.7             22.0                      Да  ...
1            76.6             25.0                      Да  ...
2            82.3             10.0                      Да  ...
3            63.3             50.0                      Да  ...
4            70.2             12.0                      Да  ...

   inflation_rate_percent  mrot_rub  avg_salary_rub  \
0                     7.4      19.2            75.0
1                     7.4      19.2            75.0
2                     7.4      19.2            75.0
3                     7.4      19.2            75.0
4                     7.4      19.2            75.0

   real_salary_growth_percent  cpi_index  base_cpi  base_inflation_percent  \
0                         8.5      251.3     100.6                    7.15
1                         8.5      251.3     100.6                    7.15
2                         8.5      251.3     100.6                    7.15
3                         8.5      251.3     100.6                    7.15
4                         8.5      251.3     100.6                    7.15

   gdp_deflator  population_million  unemployment_rate_percent
0         129.4               146.2                        2.9
1         129.4               146.2                        2.9
2         129.4               146.2                        2.9
3         129.4               146.2                        2.9
4         129.4               146.2                        2.9

[5 rows x 23 columns]
cost_of_education_rub    0
avg_ege_budget           0
gdp_deflator             0
dtype: int64

In [69]:

# остались ли пропущенные значения в этих столбцах
remaining_nans = df[['cost_of_education_rub', 'avg_ege_budget', 'gdp_deflator']].isnull().sum()
print(remaining_nans)

   year                      program_group                        university  \
0  2024                         Психология  Адыгейский гос. ун-т., г. Майкоп
1  2024    Лингвистика и иностранные языки  Адыгейский гос. ун-т., г. Майкоп
2  2024                      Юриспруденция  Адыгейский гос. ун-т., г. Майкоп
3  2024                Физическая культура  Адыгейский гос. ун-т., г. Майкоп
4  2024  Реклама и связи с общественностью  Адыгейский гос. ун-т., г. Майкоп

   avg_ege_paid  ege_change_prev_year  enrolled_paid  cost_of_education_rub  \
0          57.2                 -10.8              3                  113.4
1          61.3                   5.7             17                  113.4
2          55.7                  -7.4             30                  113.4
3          45.9                  -2.4              2                  158.3
4          52.0                   4.7              2                  113.4

   avg_ege_budget  enrolled_budget ege_excludes_individual  ...  \
0            68.7             22.0                      Да  ...
1            76.6             25.0                      Да  ...
2            82.3             10.0                      Да  ...
3            63.3             50.0                      Да  ...
4            70.2             12.0                      Да  ...

   inflation_rate_percent  mrot_rub  avg_salary_rub  \
0                     7.4      19.2            75.0
1                     7.4      19.2            75.0
2                     7.4      19.2            75.0
3                     7.4      19.2            75.0
4                     7.4      19.2            75.0

   real_salary_growth_percent  cpi_index  base_cpi  base_inflation_percent  \
0                         8.5      251.3     100.6                    7.15
1                         8.5      251.3     100.6                    7.15
2                         8.5      251.3     100.6                    7.15
3                         8.5      251.3     100.6                    7.15
4                         8.5      251.3     100.6                    7.15

   gdp_deflator  population_million  unemployment_rate_percent
0         129.4               146.2                        2.9
1         129.4               146.2                        2.9
2         129.4               146.2                        2.9
3         129.4               146.2                        2.9
4         129.4               146.2                        2.9

[5 rows x 23 columns]
cost_of_education_rub    0
avg_ege_budget           0
gdp_deflator             0
dtype: int64